@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}


.fullwidthblock {
    padding-top: 100px;
    padding-bottom: 50px;
    min-height: 50vh;
    background-image: url(/homeimages/timeline02.jpg);
    background-image: url(/homeimages/smalledit03.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: overlay;
    @include flexCenter();
    flex-direction: column;

    .fwImg {
        width: 100%;
    }
}

.colscontainer{
    color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 100px;
    column-gap: 40px;
    width: 100%;
    padding-bottom: 50px;


    .footerCol{
        min-width: 250px;
        // border: solid;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        // justify-content: center;

        .colListDiv{
            // border: solid blue;
            flex-grow: 1;
            display: flex;
        }
    }
    .title{
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;
        line-height: 80px;
    }

    .colList{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        // border: solid red;
        li{
            font-size: 20px;
            flex-grow: 1;
        }
    }
    .socialLinks{
        li{
            opacity: 0.8;
            transition: 300ms;
            &:hover{
                opacity: 1;
                scale: 1.05;
                color: skyblue;
                a{
                    transition: 300ms;
                    color: skyblue;
                }
            }
        }
    }
}

.aboutUs{

    a{
        text-decoration: none;
        color: white;
    }

}