@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
    justify-content: center;
}

.mainDiv{
    min-height: 600px;
    padding-block: 100px;
    color: white;
    @include flexCenter();
    flex-direction: column;
    gap: 0px;
    background-color: rgba(0, 40, 40, 0.9);
    // padding-inline: 20px;
   // overflow: hidden;
   h1{
        text-align: center;
        font-size: 40px;
        background-color: black;
    }
}

.galImgModal{
    width: 100%;
    height: 100vh;
    position: absolute;

   .fixed-div{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 8;
   }

    .modal-Img{
        width: 90%;
        max-height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    .mNext_btn{
        position: absolute;
        top: 50%;
        left: 10%;
        translate: -50% -50%;
        color: gray;
        z-index: 1;
        width: 60px;
        height: 60px;
        line-height: 60px;
        background-color: black;
        opacity: 0.85;
        border-radius: 50%;
    }
    .mPrev_btn{
        position: absolute;
        top: 50%;
        // right: 4%;
        left: 90%;
        translate: -50% -50%;
        color: gray;
        z-index: 1;
        width: 60px;
        height: 60px;
        line-height: 60px;
        background-color: black;
        opacity: 0.85;
        border-radius: 50%;
    }
    .closebtn{
        font-size: 30px;
        font-weight: 900;
        line-height: 30px;
        background-color: orangered;
        color: white;
        border: solid black;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        position: absolute;
        top: 10%;
        right: 10%;
        translate: -10% -10%;
        &:hover{
            box-shadow: 2px 2px 4px 2px black;
        background-color: rgb(248, 102, 49);
        }
    }
}

.trainorsGallery{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    width: 100%;
    min-height: 950px;
    padding-top: 10px;
}

.trainorP{
   // border: solid red;
    width: 100%;
    height: 100%;
    @include flexCenter();
    // overflow: hidden;
    position: relative;
    .nextfa_Btn{
        position: absolute;
        top: 50%;
        left: 90%;
        translate: -50% -50%;
        color: gray;
        z-index: 1;
        width: 60px;
        height: 60px;
        line-height: 60px;
        background-color: black;
        opacity: 0.85;
        border-radius: 50%;
    }
    .prevfa_Btn{
        position: absolute;
        top: 50%;
        left: 10%;
        translate: -50% -50%;
        color: gray;
        z-index: 1;
        width: 60px;
        height: 60px;
        line-height: 60px;
        background-color: black;
        opacity: 0.85;
        border-radius: 50%;
    }
}

.sideImgDiv{
    height: 500px;
    width: 100%;
    @include flexCenter();
    // border: solid red;
}
.sideImg{
    // min-width: 300px;
    max-width: 94%;
    height: 100%;
    border: solid rgb(236, 114, 57);
    cursor: pointer;
}

.imgsGallery{
    width: 100%;
    overflow: hidden;
  //  @include gridCenter();
    gap: 10px;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr;
    @include flexCenter();
    justify-content: space-evenly;

    .imgcol{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        // flex-direction: column;
        gap: 10px;
        overflow: hidden;
    }

    .GalleryImg{
        height: 160px;
        width: 160px;
        cursor: pointer;
        border: solid rgb(236, 114, 57);
    }
}

