@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}

// fonts
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,800&display=swap');

// colors
$qoutecolor01: black;

.headSection{
    // background-image: url(/homeimages/femalebb-2.jpg);
   // background-image: url(/homeimages/timeline02.jpg);
    // bg01.png
    background-image: url(/homeimages/bg01.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    border: solid rgb(0, 0, 40);
    //background-color: rgba(250, 250, 250, 0.8);
    background-color: rgba(0, 40, 10, 0.5);
    background-blend-mode: multiply;
    background-blend-mode: overlay;
    color: white;

   
   

   

       
}





.qoutesDiv{
   // border: solid;
    position: absolute;
    top: 60%;
    left: 50%;
    translate:  -50% -50%;
    padding-inline: 100px;
    width: 100%;
    @include flexCenterWrap();
   // align-items: flex-start;
  //  justify-content: space-evenly;
    gap: 20px;
    

    .firstqoute{
        flex-grow: 1;
       // border: gold solid;
       // width: 50%;
       //border: solid red;
       @include gridCenter();
        .qouteP{
            max-width: 340px;
            font-size: 50px;
            font-family: 'Alegreya SC', serif;
            text-align: center;
           // color: rgb(20, 60, 20);
           // color: $qoutecolor01;
            color: white;
        }
    }

    .joinbtn-div{
        .joinbtn{
            font-size: 30px;
        }
    }
}

@media screen and(max-width:1150px) {

    .qoutesDiv{
        display: grid;
        place-items: center;
        justify-content: center;
       // border: solid;

        .firstqoute{
            width: 100%;
        }
    }
}

@media screen and(max-width:900px) {
    

    .qoutesDiv{
       // border: solid;
        padding-inline: 20px;
        @include gridCenter();
        justify-content: center;

        .firstqoute{
           // border: solid;
            width: 100%;
            max-width: unset;
           // margin-inline: auto;
            .qouteP{
                font-size: 50px;
            }
        }
         .joinbtn-div{
        .joinbtn{
            font-size: 30px;
        }
    }
    }

}

@media screen and(max-width:600px) {


    .headSection{
        background-position: left;
        // femalebb-3.jpg
        background-image: url(/homeimages/femalebb-3.jpg);
    }
}

@media screen and(max-width:500px) {


    .headSection{
        background-position: left;
        // femalebb-3.jpg
        // background-image: url(/homeimages/femalebb-3.jpg);
        // 002bg.png
        background-image: url(/homeimages/002bg.png);
    }

    .qoutesDiv{
        padding-inline: 4px;

        .firstqoute{
            .qouteP{
                font-size: 46px;
            }
        }
         .joinbtn-div{
        .joinbtn{
            font-size: 30px;
        }
    }
    }

}


@media screen and(max-width:350px) {


    .headSection{
        background-position: left;

        h1{
            min-width: unset;
        }
    }

    .qoutesDiv{
        padding-inline: 2px;

        .firstqoute{
            .qouteP{
                font-size: 40px;
            }
        }
    }
}


