.loading-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: relative;
  background-image: url(/src/assets/images/logo2.png);
  background-size: cover;
  background-position: center;
}

.loadingH1 {
  font-size: 50px;
  font-weight: 1000;
  text-align: center;
  position: absolute;
  top: 34%;
  left: 50%;
  translate: -50% -50%;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  background-color: #aaa;
  border-radius: 20px;
  overflow: hidden;
}

.loader {
  width: 60%;
  height: 100%;
  background-color: #de4b4b;
  display: block;
  -webkit-animation: animate ease-out 1s infinite;
  animation: animate ease-out 1s infinite;
}

@-webkit-keyframes animate {
  0% {
    transform: translatex(-50%);
  }
  50% {
    transform: translatex(100%);
  }
  100% {
    transform: translatex(-50%);
  }
}

@keyframes animate {
  0% {
    transform: translatex(-50%);
  }
  50% {
    transform: translatex(100%);
  }
  100% {
    transform: translatex(-50%);
  }
}