@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}


.fullwidthblock {
    width: 100%;
    min-height: 50vh;
    background-image: url(/homeimages/timeline02.jpg);
    background-image: url(/homeimages/smalledit03.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: overlay;
    @include flexCenter();
    flex-direction: column;
    padding: 50px;

    .fwImg {
        width: 100%;
    }
}

.colscontainer{
    color: white;
    width: 100%;
    margin: auto;
    gap: 50px;

    .header{
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .colList{

        display: grid;
        gap: 20px;
        li{
            font-size: 20px;
        }
    }
}

.aboutUs{

    a{
        text-decoration: none;
        color: white;
    }

}